@font-face {
    font-family: "JetBrains Mono";
    src: url("../res/JetbrainsMono.ttf");
}
@font-face {
    font-family: "Nunito";
    src: url("../res/Nunito.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-size: 16px;
    font-family: "Nunito", sans-serif;

    user-select: none;

    color: white;
    overflow: hidden;
    background: #222;
}

body:not([data-robot-connected])::before {
    position: absolute;
    content: "Trying to connect to robot...";
    width: 100vw;
    height: 100vh;
    background-color: #0008;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    padding: 10px;
}
#left, #widgets {
    flex-grow: 1;
}

#left {
    display: flex;
    flex-direction: column;
}

#camera, #field-estimate {
    flex-grow: 1;
    width: 100%;
}

#left-top {
    height: 80px;
    display: flex;
    flex-direction: row;
}
#timer {
    font-family: "JetBrains Mono", monospace;
    font-size: 60px;
    flex-grow: 1;
}
#gyro {
    position: relative;
    --angle: 0deg;
    display: block;
    width: 80px;
    height: 80px;

    outline: 4px solid white;
    outline-offset: -12px;
    transform: rotate(calc(0 - var(--angle)));
}

.swerve-wheel {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    outline: 2px solid white;
    position: absolute;
    top: 35px;
    left: 35px;
}
.swerve-wheel::before {
    content: "";
    width: 0;
    height: 10px;
    
}

.swerve-wheel:nth-child(1) { --module-angle: -45deg }
.swerve-wheel:nth-child(2) { --module-angle: 45deg }
.swerve-wheel:nth-child(3) { --module-angle: -135deg }
.swerve-wheel:nth-child(4) { --module-angle: 135deg }

#camera {
    overflow: hidden;
    background-color: #333;
    background-image: url("http://limelight.local:5800/");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#field-estimate {
    display: none;
    overflow: hidden;
    background-color: #333;
    background-image: url("../res/field_img.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}